.profile-container {
    width: 800px; /* عرض ثابت للحاوية */
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.profile-header {
    position: relative;
    text-align: center;
    background-color: #3498db;
    color: white;
    height: 300px; /* ارتفاع ثابت لصورة الغلاف */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-info {
    margin-top: 20px;
    text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.user-name {
    font-size: 22px;
    margin: 10px 0 5px 0;
    color: #ffffff;
}

.user-title {
    font-size: 16px;
    color: #e1e1e1;
}
/* Profile Form Section */
.profile-form {
    padding: 20px;
    background-color: #f8f9fa; /* خلفية خفيفة للفورم */
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}

.form-group input[type="file"] {
    padding: 5px;
}

.submit-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #2980b9;
}

.file-drop-area{

    position: relative;
    display: flex;
    align-items: center;
    /*width: 450px;*/
    max-width: 100%;
    padding:25px;
    border: 1px dashed rgba(255,255,255,0.4);
    border-radius: 3px;
    transition: .2s;
}

.choose-file-button{
    flex-shrink: 0;
    background-color: rgba(255,255,255,0.04);
    border:1px solid rgba(255,255,255,0.1);
    border-radius: 3px;
    padding:8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.file-message{

    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;

}
